:root {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 62.5%;

  /* Primary colors */
  --red: hsl(0, 100%, 67%);
  --orange-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);

  /* Neutral colors */
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-navy: hsl(224, 30%, 27%);

  /* Gradients colors */
  --light-slate-blue: hsl(252, 100%, 67%);
  --light-royal-blue: hsl(241, 81%, 54%);
  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue: hsla(241, 72%, 46%, 0);
}

body {
  margin: 0px;

  font-size: 1.8rem;
}

/* Subjects and subject Component */
.subjects {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin: 0px;
  padding: 0px;
  border: none;
}

.subjects__title {
  /* TODO: establecer tamaño de fuente para viewports mas grnades */
  margin-bottom: 2.4rem;
  padding: 0px;

  color: var(--dark-navy);

  font-weight: 700;
  /* TODO: establecer tamaño de fuente para viewports mas grandes */
}

.subject {
  display: grid;
  grid-template-columns: auto auto 1fr;
  justify-content: start;
  gap: 1.2rem;
  padding: 1.8rem 1.6rem;
  border-radius: 1.2rem;

  /* TODO: cambiar tamaño de fuente para viewport mas grandes */
  font-size: 1.6rem;
}

/* TODO: agregar modificadores de subject para colores de fondo */
.subject--red {
  background-color: color-mix(in srgb, var(--white) 95%, var(--red));
}

.subject--yellow {
  background-color: color-mix(in srgb, var(--white) 95%, var(--orange-yellow));
}

.subject--green {
  background-color: color-mix(in srgb, var(--white) 95%, var(--green-teal));
}

.subject--blue {
  background-color: color-mix(in srgb, var(--white) 95%, var(--cobalt-blue));
}

.subject__icon {
  width: 2rem;
  height: 2rem;
}

.subject__title {
  font-weight: 500;
}

.subject__title--red {
  color: var(--red);
}

.subject__title--yellow {
  color: var(--orange-yellow);
}

.subject__title--green {
  color: var(--green-teal);
}

.subject__title--blue {
  color: var(--cobalt-blue);
}

/* TODO: agregar modificadores de los títulos de sección para cada color */
.subject__result {
  justify-self: flex-end;
}

.subject__score {
  color: var(--dark-navy);

  font-weight: 700;
}

.subject__score--secondary {
  opacity: 0.5;
}

/* Button Component */

.btn {
  display: inline-block;

  width: 100%;
  padding: 1.6rem 0;
  border-radius: 12.8rem;

  background-color: var(--dark-navy);
  color: var(--white);

  font-weight: 700;
  text-decoration: none;
  text-align: center;
}

.btn:hover {
  background: linear-gradient(
    to bottom,
    var(--light-slate-blue),
    var(--light-royal-blue)
  );
}
